@import "tailwindcss";

/* Optional: custom tweaks */

body {
  @apply bg-gray-100 text-gray-800;
}

/* Scrollbar (optional clean UI) */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}